- @sub_title = '宽岛，每个人都是生活艺术家'
- content_for :title, '登陆_宽岛'

= form_for(@user, :as => :session, :url => sessions_path, :html => {:class => 'login'}) do |f|
  .email_box
    = f.label :email, '邮箱'
    = f.text_field :email
  .error
    = flash[:email_error]
    &nbsp;
  .password_box
    = f.label :password, '密码'
    = f.password_field :password
  .error
    = flash[:password_error]
    &nbsp;
  .submit_box
    = f.submit "登录"
