- @sub_title = '登陆宽瞳, 分享兴趣爱好的根源'

= form_for(:session, :url => sessions_path, :html => {:class => 'login'}) do |f|
  .email_box<
    = f.label :email, '邮箱'
    = f.text_field :email
  .error<
    = flash[:email_error]
    &nbsp;
  .password_box<
    = f.label :password, '密码'
    = f.password_field :password
  .error<
    = flash[:password_error]
    &nbsp;
  .submit_box<
    = f.submit " "
