- @sub_title = '宽岛，每个人都是生活艺术家'
- content_for :title, '登陆_宽岛'
- content_for :meta, do
  %meta{name: "Description", content: "宽岛是个人的兴趣展示中心，在这里你可以建立不同的“兴趣页面”展示生活中的多个侧面；在这里你可以通过探索不同的兴趣结识不同圈子的新朋友。"}

= form_for(@user, :as => :session, :url => sessions_path, :html => {:class => 'login'}) do |f|
  .email_box
    = f.label :email, '邮箱'
    = f.text_field :email
  .error
    = flash[:email_error]
    &nbsp;
  .password_box
    = f.label :password, '密码'
    = f.password_field :password
  .error
    = flash[:password_error]
    &nbsp;
  .submit_box
    = f.submit "登录"

%div{style: "width:756px;margin:auto;font-size:14px;color:#68AADB;text-align:center"}<
  宽岛于2012年12月14日凌晨正式开放注册。&nbsp;
  %a.z_discovery{href:"http://www.kuandao.com/signup/jeduko3oomhbuqg006r" }><
    猛击开通注册
