- all_empty = @variables.all? {|k,v| v.empty?}

.box
  - if not  all_empty
    - @variables['color'].each do |name, var|
      - next if var['desc'].blank?
      .colors
        .color_pick{style: "background-color: #{var['value']}"}
        %input{type: 'hidden', name: "blog[template_conf][color][#{name}][value]",
          value: var['value'], data: {default_value: var['default_value']}}
        = var['desc']

    - @variables['image'].each do |name, var|
      - next if var['desc'].blank?
      .images{class: (var['value'].blank? ? "image_empty" : "image_exist"), data: {widget: "single_upload"}}
        %span<
          = var['desc']
        %input.uploader{type: 'file', name: 'file', autocomplete: 'off' }
        %a.cleaner{href: "#"} 清除背景
        %input.url{type: 'hidden', name: "blog[template_conf][image][#{name}][value]",
          value: var['value'], data: {default_value: var['default_value']}}

    - @variables['bool'].each do |name, var|
      - next if var['desc'].blank?
      .booleans
        %input{type: "hidden", value: "0", name: "blog[template_conf][bool][#{name}][value]"}
        %input{type: "checkbox", name: "blog[template_conf][bool][#{name}][value]",
          checked: var['value'], value: 1, data: {default_value: var['default_value'], widget: "checkbox_preview"}}
        %label 
          = var['desc']

    - @variables['text'].each do |name, var|
      - next if var['desc'].blank?
      .text
        %label= var['desc']
        %input{name: "blog[template_conf][text][#{name}][value]", value: var['value'],
          default_value: var['default_value']}

- if all_empty
  模板作者没有提供可以调整的变量
- else
  %div.buttons
    %a.reset{href: "###"} 恢复为初始值
