- css :blog_edit
- js :blog_edit
- content_for :site_layout, 'blog_customization'

.customize_panel#customize_panel
  %ul.customize_navigation{data: {widget: 'tab', contentsHolder: 'form.edit_blog',
    contents: 'fieldset', activateOnLoad: 0, name: 'customize'}}
    %li.blog_info 页面信息
    %li.template 模板
    %li.appearance{data: {widget: 'reloadAppearance', source: 'fieldset.template',
      target: 'fieldset.appearance'}} 调整界面
    %li.service 服务
    %li.advanced 高级选项
  .customize_commands
    %a.button.save{href: "###", data: {widget: 'submit', form: '.edit_blog'}} 保 存
    %a.button.back{href: fucking_root} 取 消

= form_for(@blog, :url => @preview_url) do |f|
  %fieldset.blog_info.menu
    .page_name
      = f.label :title, "名称"
      %div
        = f.text_field :title, class: 'title'
      - if @blog.errors[:title].any?
        .error
          &nbsp;
          = @blog.errors[:title].first
    .page_tag
      = f.label :tag, "兴趣类型"
      %div
        = f.text_field :tag, class: 'tag'
      .error
        - if @blog.errors[:tag].any?
          = @blog.errors[:tag].first
        - else
          .suggestion 只可以填写一个类型，文字中不可以包含“逗号”
    .page_desc
      = f.label :desc, "描述"
      %div.textarea
        %textarea{id: "blog_desc", name: "blog[desc]", data: {widget: "textarea"},
          rows: 80}
          = @blog.desc
    .page_url
      = f.label :uri, "自定义网址"
      %div.who_did_this
        = f.text_field :uri, class: 'link'
        %span.root_domain
          = "."+request.domain
      - if @blog.errors[:uri].any?
        .error
          &nbsp;
          = @blog.errors[:uri].first
    %label Logo
    %div
      %img#blog_icon_img{ :src => @blog.icon.url_for(:medium) }
      %input.image#image_uploader{ :type => 'file', :name => 'file', :autocomplete => 'off' }
    = f.hidden_field :icon, :id => "blog_icon_id", :value => @blog.icon.id
    %span#blog_icon_feed

  %fieldset.template.menu{class: @blog.using_custom_html? ? 'editing_custom_html' : 'picking_template'}
    .pool_field
      .pool{data: {widget: 'radioButton preview', contents: '.theme', fieldName: 'blog[template_id]'}}
        - @templates.each do |t|
          .theme{data: {value: t.id}, class: t.id == @blog.template.id ? 'selected' : ''}
            %span.template_thumb
              - if t.id
                %img{src: t.thumbnail.url_for(:small)}
              - else
                = image_tag 'default_template.gif'
            .shadow
            %div
              - if t.id
                %a{href: blog_path(t.author.primary_blog), target: '_blank',
                  data: {widget: 'sureLink'}}
                  .author_name= t.author.name
                %span.template_name= t.name
              - else
                .author_name 管理员
                %span.template_name 默认模板
      .buttons
        %a.button{href: "###", data: {widget: 'toggler', target: 'fieldset.template',
          classes: 'editing_custom_html picking_template', field: 'blog[using_custom_html]'}}
          编辑当前模板HTML
    = f.hidden_field :using_custom_html, :value => @blog.using_custom_html ? 1 : 0
    .custom_field
      .main
        .custom_html
          %textarea{name: 'blog[custom_html]'}
            = @blog.template_in_use
        .buttons
          %a.button.strong{href: "#", data: {widget: 'diverseSubmit',
            action: '/preview', target: 'preview', methord: 'POST'}}
            预览效果
          %a.button{href: "#", data: {widget: 'toggler', target: 'fieldset.template',
            classes: 'editing_custom_html picking_template', field: 'blog[using_custom_html]'}}
            返回选择模板
          %a.button{href: fucking_root + 'doc/template.html', target: '_blank'} 帮助
      .aside
        %p 上传图片素材
        .upload_asset
          %input{type: 'file', name: 'file'}
        %ul.assets
  %fieldset.appearance.menu{ data: {widget: "appearance"}}
    = render :partial => 'blogs/template_variables'
  %fieldset.service.menu
    %ul.services
      %li.sina_weibo
        .caption 同步到新浪微博
        - sina = @blog.sync_targets.detect {|t| SinaWeibo === t && t.status == :verified}
        = render :partial => 'sync/target', :object => sina
  %fieldset.advanced.menu
    .item.toggle_private
      = f.check_box :private
      = f.label :private, '该页面设置为私密页面'
    - unless @blog.primary?
      .toggle_canjoin{data: {widget: 'shrinked', trigger: 'input[type=checkbox]',
        shouldPropagate: true}, class: @blog.canjoin? ? '' : 'shrinked'}
        = f.check_box :canjoin
        = f.label :canjoin, "其他人可以申请加入你的页面" 
        %p.invite_desc 复制邀请链接邀请其他人
        %input.invite_link{value: editors_new_url}

%iframe#preview{name: 'preview', src: @preview_url || blog_path(@blog)}

:javascript
  document.addEvent('domready', function(){
    K.blog.init_upload_icon();
  })

  document.addEvent('domready', function(){
    var context = document.getElement('.aside')
      , list = context.getElement('.assets')
      , fileInput = context.getElement('input[type=file]')
      , UPLOAD_PATH = '/upload/asset'
      , TPL = '<img width=62 height=62 src="{src}"><p>{src}</p>'
      , uploader = new K.file_uploader(fileInput, UPLOAD_PATH, {
          onSuccess: function(res) {
            var src = 'http://img.kuandao.com' + res.image.original
              , elem = new Element('li', {html: TPL.substitute({src: src})})
            list.grab(elem, 'top')
          }
        })
  })
