- @sub_title = @nav_user_title = "关注#{@blog.title}的"
- @page_name = "关注"
.list_box.followers
  %h1
    = @blog.followers_count > 0 ? "#{@blog.followers_count}人正在关注" : "还没有人关注哦T_T"
  - followed = current_user.all_blogs
  %ul
    - @followers.each do |user|
      - blog = user.primary_blog
      %li{ :id => "blog_#{blog.id}" }
        .avatar_60
          .z_image{style: "background-image:url(#{blog.icon.url_for(:medium)})"}<
            %a{ :href => blog_path(blog) }<
              &nbsp;
        .z_name<
          %a{ :href => blog_path(blog) }<
            = user.name
        - unless followed.include?(blog)
          %a{:href => follow_toggle_blog_path(blog), :id => "tar_follow_#{blog.id}",
            :data => {:method => "POST", :remote => "true"}}
            .btn_follow
