%h1 创建页面

= form_for(@blog) do |f|
  - if @blog.errors.any?
    #blog_error_explanation= @blog.errors.full_messages.first
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :uri
    %br
    = f.text_field :uri
  .action= f.submit "提交" 
