!!!
%html
  %head
    %link{rel: "shortcut icon", href: "/images/favicon.ico"}
    %title= @blog.title
    = stylesheet_link_tag 'blog_show'
    = stylesheet_link_tag 'post_display'
    = javascript_include_tag 'mootools-core', 'rails', 'mootools-more'
    = javascript_include_tag 'application'
    = javascript_include_tag 'post_display'
  %body[@blog]{class: @single_post ? 'post_single' : 'post_list'}
    #wrapper
      .commands
        %a.back_to_home{href: fucking_root}
          回我的主页
        = follow_tag @blog
        - if @single_post && @post.editable_by?(current_user)
          %a.remove{href: "/posts/#{@post.id}", title: "删除",
            data: {widget: "rest", callback: "redirect", md: "delete"}}
            删除
          %a.edit{href: "/posts/#{@post.id}/edit", title: "编辑"} 编辑
        - if @blog.applied? current_user
          %a.btn_apply{href: fucking_root+"blogs/#{@blog.uri}/apply", title: "申请加入" }
            申请加入
      #title
        %a{href: blog_path(@blog)}
          =@blog.title
      #content
        - @posts.each do |p|
          = render_post p
        #navigation
          = pagination(@posts)
      #sidebar
        #top
          #avatar
            %a{href: blog_path(@blog)}
              %img{src: @blog.icon.url_for(:large)}
    = render :partial => 'shared/analytics'
