!!!
%html
  %head
    %link{rel: "shortcut icon", href: "/images/favicon.ico"}
    %title= @blog.title
    = stylesheet_link_tag 'blog_show'
    = stylesheet_link_tag 'post_display'
    = javascript_include_tag 'mootools-core', 'rails', 'mootools-more'
    = javascript_include_tag 'application'
    = javascript_include_tag 'post_display'
  %body[@blog]{class: @single_post ? 'post_single' : 'post_list'}
    #wrapper
      .commands
        %a.back_to_home{href: fucking_root}
          回我的主页
        = follow_tag @blog
      #title
        %a{href: blog_path(@blog)}
          =@blog.title
      #content
        - @posts.each do |p|
          = render_post p
        #navigation
          = pagination(@posts)
      #sidebar
        #top
          #avatar
            %a{href: blog_path(@blog)}
              %img{src: @blog.icon.url_for(:large)}
    = render :partial => 'shared/analytics'
