!!!
%html
  %head
    %link{rel: "shortcut icon", href: "/images/favicon.ico"}
    %title= @blog.title
    = stylesheet_link_tag 'blog_show'
    = stylesheet_link_tag 'post_display'
    = javascript_include_tag 'mootools-core', 'rails', 'mootools-more'
    = javascript_include_tag 'application'
    = javascript_include_tag 'post_display'
  %body[@blog]
    #wrapper
      .commands
        %a.back_to_home{href: root_url(subdomain: 'www')}
          回我的主页
        = follow_tag @blog
      #title
        %a{href: root_url(:subdomain => @blog.uri)}
          =@blog.title
      #content
        - @posts.each do |p|
          = render_post p
        #navigation
          = pagination(@posts)
      #sidebar
        #top
          #avatar
            %a{href: root_url(:subdomain => @blog.uri)}
              %img{src: @blog.icon.url_for(:large)}
