- content_for :site_layout, 'site_middle_size'
- content_for :title, '搬家工具_宽岛'

- css 'gear'

= form_for(:moving, :url => movings_path, :html => {:class => "middle_box the_kt_gear"}) do |f|
  %h1 搬家工具
  %h2 请输入宽途页面地址，比如 http://silence.kuantu.com 或 silence
  .weburl
    = f.label :from_uri, '网址'
    = f.text_field :from_uri
  - if @moving.errors[:base].any?
    .error= @moving.errors.full_messages.first
  - elsif @moving.errors[:exist].any?
    .error
      = @moving.errors[:exist].first
      = f.text_field :to_uri
  - elsif flash.now[:success]
    .success= flash.now[:success]
  .submiter= f.submit "提交"
