- @sub_title = @nav_user_title = "我关注的"
- @now_path = "followings"

.list_box.following
  %h1
    ="我关注了#{@blogs.length}个页面"
  %ul
    - @blogs.each do |blog|
      %li{ :id => "blog_#{blog.id}" }
        .avatar_60
          .z_image{style: "background-image:url(#{blog.icon.url_for(:medium)})"}<
            %a{ :href => blog_path(blog) }
        .z_name
          %a{ :href => blog_path(blog) }
            = blog.title
        = follow_tag blog
