%h1= "#{@inv_user.name}邀请您注册"

= form_for(@user) do |f|
  - if @user.errors.any?
    #user_error_explanation= @user.errors.full_messages.first
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :password
    %br
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  = hidden_field_tag 'code', @inv_user.inv_code
  .action= f.submit "提交"
