- css :posts_display

- @site_layout = 'site'
.dashboard
  .head
    .head_bg
      .dialog_arrow
      .head_avatar{style: "background-image:url(#{@user.primary_blog.icon.url_for(:medium)})"}<
        %a{href: blog_path(@user.primary_blog)}<
          &nbsp;
      - if @blog && !@blog.primary
        .icon_s{style: "background-image:url(#{@blog.icon.url_for(:'30')})"}<
          %a{href: home_path(@blog)}<
            &nbsp;
      .post_area
        .left
        %a.text{href: new_post_path("text", @blog)} 发布文字
        %a.picture{href: new_post_path("pics", @blog)} 发布图片
        %a.link{href: new_post_path("link", @blog)} 发布链接
        %a.video{href: new_post_path("video", @blog)} 发布视频
        %a.audio{href: new_post_path("audio", @blog)} 发布音乐
        %a.explore{href: news_posts_path} 探索
        .right
      - unless flash.blank?
        .dashboard_flash
          - flash.each do |k, v|
            %div{:class => "#{k}"}<
              = v
          %a.cancel{onclick: "this.getParent('.dashboard_flash').destroy();return false;"}
            关闭
          
      = render partial: "layouts/breadcrumbs"
  - if @at_dashboard
    = render partial: "layouts/dashboard_menu"
  - else
    = render partial: "layouts/menu"
  .main{ :data => { :widget => "sugar" } }
    .timeline
      = render :partial => "posts/post_full", :collection => @posts, :as => :post
    = pagination(@posts)
