%h1 Home
- flash.each do |k, v| 
  %div{:class => "flash_users_#{k}"}= v

.edit_user= link_to "修改账户信息", edit_user_path(current_user)

= render 'shared/current_user_blogs', :default_blog => @blog

.link_to_followings= link_to "关注#{@user.subs.count}个页面", followings_path

.default_blog= @blog.title

.link_to_followers= link_to "被#{@blog.followers_count}个人关注", followers_blog_path(@blog)

- @posts.each do |p|
  = render_post p
