- content_for :head do
  = stylesheet_link_tag 'post_display', 'dashboard'

- flash.each do |k, v|
  .flash
    %div{:class => "#{k}"}= v

.header
  %a.logo{href: home_path}
  .dash_navigator
    %a{href: wall_posts_path}墙
    &nbsp;|&nbsp;
    %a{href: news_posts_path}随便看看
    &nbsp;|&nbsp;
    %a{href: edit_user_path(current_user)}设置
    &nbsp;| 邀请好友加入&nbsp;
    - invite_url = "#{fucking_root}signup/#{current_user.inv_code}"
    %input.invite{readonly: true, value: invite_url, onclick: "this.select();"}><
    &nbsp;|&nbsp;
    %a.logout{ :href => signout_path, :data => { :confirm => "确定登出?" } }><
.dashboard
  .head
    .head_avatar{style: "background:url(#{@user.primary_blog.icon.url_for(:medium)})"}<
      %a{href: blog_path(@user.primary_blog)}<
        &nbsp;
    .head_menu
      %a.my_follow{ href: followings_path, title: "我关注的"}<
        %span 我关注的
      %a.my_collect{ href: favors_posts_path, title: "我喜欢的"}<
        %span 我喜欢的
      %a.my_reply{ href: buzz_path, title: "回复"}<
        %span 回复
        - if current_user.comments_notices.unreads.count > 0
          = current_user.comments_notices.unreads.count

      %a.my_message{ href: messages_path, title: "消息"}<
        %span 消息
        - if current_user.messages.unreads.count > 0
          = current_user.messages.unreads.count

    .post_area
      .left
      %a.text{href: new_post_path("text", @blog)} 发布文字
      %a.picture{href: new_post_path("pics", @blog)} 发布图片
      %a.link{href: new_post_path("link", @blog)} 发布链接
      %a.video{href: new_post_path("video", @blog)} 发布视频
      .right
    .head_txt<
      - unless @at_dashboard
        %a{ href: home_path }<
          &#8592; 我的主页
        = " > #{@blog.title}"

  .menu
    .my_pages.shrinked{data: {widget: "shrinked", trigger: ".selector"}}
      %a.selector{href: home_path(@blog)}
        = @blog.title
      - @other_blogs = @blogs.reject {|b| b == @blog}
      .selector_open
        .selector_open_head.selector
          = @blog.title
        .selector_open_menu
          - @other_blogs.each do |b|
            %div
              %a.other_blog{href: home_path(b)}<
                = b.title
        .selector_open_footer
          %a{href: new_blog_path} +新建页面
    .page_operation
      %div
        %span.icon_posts &nbsp;
        %span
          %a{href: home_path(@blog)}
            ! #{@blog.total_post_num}篇文章
      %div
        %span.icon_followed &nbsp;
        %span
          %a{href: followers_blog_path(@blog)}
            ! #{@blog.followers_count}人关注
      - if !@blog.primary && @blog.edited?(current_user)
        %div
          %span.icon_members &nbsp;
          %span
            %a{href: editors_blog_path(@blog)}
              ! 成员管理
      - if @blog.customed? current_user
        %div
          %span.icon_config &nbsp;
          %span
            %a{href: edit_blog_path(@blog)} 自定义
      -#
        %div
          %span.icon_remove &nbsp;
          %span
            %a{href: "#"} 删除
      %div
        %span.icon_view &nbsp;
        %span
          %a{href: blog_path(@blog)} 查看
  .main{ :data => { :widget => "sugar" } }
    .timeline
      = render :partial => "posts/post_full", :collection => @posts, :as => :post
    = pagination(@posts)
= render :partial => 'shared/footer'
