- css 'tags'
- js 'tags'
- content_for :title, "探索_宽岛"

- @site_layout = "site"

.explore
  %h1 探索
  .tag_wall
    - @tag_posts.each do |tag, post|
      = render partial: "posts/post4tag", object: post, as: :post, locals: {tag: tag}
    - @tag_posts.each do |tag, post|
      = render partial: "posts/post4tag", object: post, as: :post, locals: {tag: tag}
    - @tag_posts.each do |tag, post|
      = render partial: "posts/post4tag", object: post, as: :post, locals: {tag: tag}
    - @tag_posts.each do |tag, post|
      = render partial: "posts/post4tag", object: post, as: :post, locals: {tag: tag}
  .tag_list
    = render :partial => "tags/tag_trend", :collection => @tags, :as => :tag
