- css :tags
- content_for :title, "#{@tag}_宽岛"

- css :posts_display

- @site_layout = "site" unless @blogs.empty?

.latest
  %h1= @tag
  .timeline{ :data => { :widget => "sugar" } }
    = render :partial => "posts/post_full", :collection => @posts, :as => :post
    = pagination(@posts)
- unless @blogs.empty?
  .editors
    .list
      = render :partial => "blog", :collection => @blogs, :as => :blog
.clear_fix
