= render partial: sub_template, object: @post,
  as: :post

%h1= "#{@action}#{@post_type}"

= form_t params, do
  = hidden_field_tag :type, @post.type
  = content_for :form
  .operation
    .page_selector
      .my_pages
        .selector STUBBED
    .cancel
    .send
      %button{type: "submit", value: "Commit"}
        SUBMIT
