= render partial: sub_template, object: @post,
  as: :post

= form_t params, do
  %h1<
    = "#{@action}#{@post_type}"
    - unless @post.errors.empty?
      %span.post_error<
        = @post.errors.values.first.first

  = hidden_field_tag :type, @post.type

  = content_for :form
  .operation
    .page_selector
      .my_pages
        - if @post.new_record? 
          %p
            -# 发布至:
            %select#blog_id{name: 'blog_id', data: {widget: 'prettySelect'}}
              - @target_blogs.each do |b|
                %option{value: b.id, selected: b == @default_target_blog}
                  = b.title
    %a.cancel{href: "/home"}
    %div{class: params[:action] == 'new' ? 'send' : 'save'}
      %input{ :type => "submit", :value => " " }
