= render partial: sub_template, object: @post,
  as: :post

= form_t params do
  .right
    = hidden_field_tag :type, @post.type
    - if params[:action] == 'renew'
      = hidden_field_tag :parent_id, @parent.id
    .page_selector
      .my_pages
        - if @post.new_record? 
          %p
            -# 发布至:
            %select#blog_id{name: 'blog_id', data: {widget: 'prettySelect'}}
              - @target_blogs.each do |b|
                %option{value: b.id, selected: b == @default_target_blog,
                  data: {tags: b.tag}}
                  = b.title
    %h2 添加标签  
    %input.tags{name: "tags", data: {widget: "textboxlist"}, value: (tags_for_post_form @post, (@post.new_record?) ? @default_target_blog : nil)}

  .left
    %h1<
      = "#{@action}#{@post_type}"
      - unless @post.errors.empty?
        %span.post_error<
          = @post.errors.values.first.first
   
    = content_for :form
    .operation
      %a.cancel{href: root_path}
      %div{class: (%w[new renew].include? params[:action])? 'send' : 'save'}
        %input{ :type => "submit", :value => " " }
