- js 'post_display'
%div[post]{:class => type}
  .content_head
    - if @user and post.editable_by? @user
      %a.remove{ :href => "/posts/#{post.id}", :title => '删除',
        :data => { :widget => "rest", :callback => "del", :md => "delete", :parent => "tar_post" }}<
        删除
      = link_to "编辑", "/posts/#{post.id}/edit", :class => 'edit', :title => '编辑'
    = link_to "转贴", "/posts/#{post.id}/renew", :class => 'repost', :title => '转贴'
    - favor_href, favor_data = "/posts/#{post.id}/favor_toggle", { :widget => "rest", :callback => "toggle", :md => "put" }
    - if @user and post.favored_by? @user
      - favor_data["class"] = "fave"
      - favor_data["title"] = "收藏"
      %a{ :href => favor_href, :title => '取消收藏', :class => 'faved', :data => favor_data }<
        取消收藏
    - else
      - favor_data["class"] = "faved"
      - favor_data["title"] = "取消收藏"
      %a{ :href => favor_href, :title => '收藏', :class => 'fave', :data => favor_data}<
        收藏
  .content_body
    = render partial: sub_template, object: post
  .content_footer
    .left<
      %span.writer_name<
        %a{href: blog_path(post.author.primary_blog)}
          = post.author.name
      %span.update_time= post.created_at
    .right
      %a.reply{ :href => "/posts/#{post.id}/comments", :data => { :tgt => "comments" } }<
        = post.comments.count == 0 ? " " : post.comments.count
      %a.open{ :href => blog_path(post.blog) + "post/#{post.id}", :target => "_blank",
        title: '展开' }
    .middle
      - unless post.parent.nil?
        %a{ :href => blog_path(post.parent.blog) }
          = post.parent.blog.title
        &#8594;
