- js 'post_display'
%div[post]{:class => type}
  .content_head
    - if @user && post.editable_by?(@user)
      %a.remove{ :href => "/posts/#{post.id}", :data => { :widget => "del", :parent => "tar_post" }}<
        删除
      = link_to "编辑", "/posts/#{post.id}/edit", :class => 'edit'
  .content_body
    = render partial: sub_template, object: post
  .content_footer
    .left<
      %span.writer_name<
        %a{href: blog_path(post.author.primary_blog)}
          = post.author.name
      %span.update_time= post.created_at
    .right
      %a.open{ :href => "/posts/#{post.id}/comments", :data => { :tgt => "comments" } }
      %a.open{ :href => blog_path(post.blog) + "post/#{post.id}", :target => "_blank" }
