%div[post]{:class => type}
  .content_head
    .left
      %span.writer_name<
        %a{href: blog_path(post.author.primary_blog)}<
          = post.author.name
    .right
      %span.update_time= post.created_at
  .content_body
    = render partial: sub_template, object: post
  .content_footer
    .left<
      - unless post.parent.nil?
        转自:
        %a{ :href => blog_path(post.parent.blog) }<
          = post.parent.blog.title
    .right
      - if current_user
        %a.reply{ :href => post_comments_path(post), :title => "评论", :data => { :tgt => "comments" } }<
          评论
          = post.comments.count == 0 ? " " : post.comments.count
      - if (post.repost_count && post.repost_count > 0) || post.ancestor_id
        %a.repost_count{href: post_reposts_path(post), :title => "转贴记录", :data => { :tgt => "reposts" } }<
          .repost_icon
          - if post.repost_count_all && post.repost_count_all > 0
            .num<
              转贴
              = post.repost_count_all
      - if post.favor_count && post.favor_count > 0
        %a.favor_count{href: post_favor_list_path(post), :title => "喜欢的人", :data => { :tgt => "favors" } }<
          .num<
            喜欢
            = post.favor_count
