- css "category"
- js "category"
- @site_layout = "site"

.spread_main
  - @top_categories.each do |category|
    %a.spread_banner{href: blog_path(category.top_blog.blog), style: (category == @top_categories.first ? "" : "display:none")}
      %img{src: category.top_blog.image}
  .slide_togglers
  .spread_bg
  .categories
    .spread_prev.row.row_button<
      &nbsp;
    .categories_box
      .categories_inner
        - @categories.each do |category|
          .row
            .spread_rowname<
              %a{href: category_by_name_path(category.name)}<
                = category.name
            - category.category_subs.each do |sub|
              - if sub == category.category_subs.first || sub == category.category_subs.second
                .spread_rowbox{style: "background-image:url(#{sub.blog.icon.url_for(:medium)})"}<
                  %a{href: blog_path(sub.blog), target: "_blank"}<
                    &nbsp;
                %a.blog_name{href: blog_path(sub.blog), target: "_blank"}<
                  = sub.blog.title
                .follow
                  - if current_user and not current_user.all_blogs.include? sub.blog
                    %a{:href => follow_toggle_blog_path(sub.blog), :id => "tar_follow_#{sub.blog.id}",
                      :data => {:method => "POST", :remote => "true"}, :title => "关注"}<
                      .btn_follow
                        +加关注
    .spread_next.row.row_button<
      &nbsp;
.category_list{style: "display:none;"}
  - @categories.each do |category|
    %a.spread_rowname{href: category_by_name_path(category.name)}<
      = category.name
