%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  - @category.category_subs.each do |sub|
    %a{href: blog_path(sub.blog), target: "_blank"}
      = sub.blog.title
    |
    = sub.new
    |
    = sub.top
    %br
%p
  %b Image:
  = @category.image
%p
  %b New:
  = @category.new
%p
  %b Top:
  = @category.top

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
