.breadcrumbs<
  - unless @at_dashboard
    当前位置 :&nbsp;
    %a{ href: home_path }<
      我的主页
    >
    - if @blog.nil?
      = "#{@sub_title}"
    - else
      - if @page_name.nil?
        = "#{@blog.title}"
      - else
        %a{ href: home_path(@blog) }<
          = @blog.title
        = "> #{@page_name}"
