.header
  %a.logo{href: fucking_root, title: "我的家"}
  .navigator{data: {widget: "navigator", highlight: (@nav_now || "dashboard")}}<
    - if @has_mobile_view && is_mobile_device?
      %a{href: current_url(mobile: 1)} 手机版
      %span><
        |    
    - if current_user
      -# %script{type: "text/javascript", src: %(http://#{@comet_config["server"]}/application.js), charset: "utf-8"}
      :javascript
        window.WEB_SOCKET_SWF_LOCATION = 'http://#{@comet_config["server"]}/WebSocketMain.swf'
        document.addEvent("domready", function() {
          K.comet_header_counter({
            comments_count: #{current_user.comments_notices.unreads.count},
            messages_count: #{current_user.messages.unreads.count}
          })
          -# var jug = new Juggernaut({host: '#{@comet_config["host"]}', port: #{@comet_config["port"] || 8080}})
          -# jug.subscribe('#{current_user.channel}', function(data){
          -#   K.comet_header_counter(data)
          -# })
        })
      %a.z_dashboard{href: fucking_root}><
        我的家
      %span><
        |    
      %a.z_buzz{ href: buzz_path, title: "回复"}><
        回复
        %span#comments_count><
      %span><
        |    
      %a.z_messages{ href: messages_path, title: "消息"}><
        消息
        %span#messages_count><
      %span><
        |    
      .menu><
        %div<
          %a{href: edit_user_path(current_user)}
            我的帐户
            %span.z_more<
              &nbsp;
        %div<
          %a{href: edit_user_path(current_user)} 帐户设置
        %div<
          %a{href: "#{fucking_root}signup/#{current_user.inv_code}", data: {widget: "invite"}} 邀请好友
        %div<
          %a{href: signout_path, :data => { :confirm => "确定登出?"}} 退出
      %a.tar.z_account{href: "#"}><
        我的帐户
        %span.z_more<
          &nbsp;
    - else
      %span><
        &nbsp;
