.nav_user
  .z_header
  .z_icon{style: "background:url(#{@user.primary_blog.icon.url_for(:medium)})"}<
    %a{href: blog_path(@user.primary_blog)}<
      &nbsp;
  - if @blog && !@blog.primary
    .z_icon_s{style: "background:url(#{@blog.icon.url_for(:'30')})"}<
      %a{href: home_path(@blog)}<
        &nbsp;
  .z_title
    %h1<
      = @nav_user_title
    %h2<
      = yield :nav_user_append if content_for?(:nav_user_append)
  .z_container
    .z_following<
      %a{ href: followings_path, title: "我关注的"}<
        我关注的
    .z_favor<
      %a{ href: favors_posts_path, title: "我喜欢的"}<
        我喜欢的
    .z_buzz<
      %a{ href: buzz_path, title: "回复"}<
        回复
      %span<
        - if current_user.comments_notices.unreads.count > 0
          = current_user.comments_notices.unreads.count
    .z_message<
      %a{ href: messages_path, title: "消息"}<
        消息
      %span<
        - if current_user.messages.unreads.count > 0
          = current_user.messages.unreads.count
  .z_name
    %a{href: home_path(@user.primary_blog)}<
      = @user.primary_blog.title
