!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', 'content' => 'text/html; UTF-8'}
    = content_for?(:meta) ? content_for(:meta) : ""
    %title<
      = content_for?(:title) ? content_for(:title) : "宽岛"
    - if is_mobile_device?
      = stylesheet_link_tag "mobile"
    - else
      - css :base
      = include_stylesheets *@css
      - js :common
      = include_javascripts *@js
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico" }
    :javascript
      document.id(document.documentElement).addClass('js_enabled')
    = yield :head if content_for?(:head)
  %body
    #container{class: content_for?(:site_layout) ? yield(:site_layout) : "site"}
      = use_header(@header)
      = content_for?(:content) ? yield(:content) : yield
