!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', 'content' => 'text/html; UTF-8'}
    = content_for?(:meta) ? content_for(:meta) : ""
    %title<
      = content_for?(:title) ? content_for(:title) : "宽岛"
    - css :base
    = include_stylesheets *@css
    - js :common
    = include_javascripts *@js
    = csrf_meta_tag
    %link{ :rel => "stylesheet", :href => "/stylesheets/kuanfont-embedded.css", :media => "screen", :type=> "text/css" }
    %link{ :rel => "stylesheet", :href => "/stylesheets/animation.css", :media => "screen", :type=> "text/css" }
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico" }
    :javascript
      document.id(document.documentElement).addClass('js_enabled')
      window.WEB_SOCKET_SWF_LOCATION = '/WebSocketMain.swf'
      K.comet = new Juggernaut({host: '#{@comet_config["host"]}', port: #{@comet_config["port"] || 8080}})
    = yield :head if content_for?(:head)
  %body
    #container{class: content_for?(:site_layout) ? yield(:site_layout) : "site"}
      = use_header(@header)
      = content_for?(:content) ? yield(:content) : yield
    = render :partial => 'shared/analytics'
