!!! 5
%html
  %head
    %title
      = content_for?(:title) ? yield(:title) : "-"
    = stylesheet_link_tag :all
    = javascript_include_tag "mootools-core", "rails"
    = csrf_meta_tag
    = yield :head
  %body
    #container
      = yield
