!!!
%html
  %head
    %title<
      = content_for?(:title) ? content_for(:title) : "宽岛"
    = stylesheet_link_tag "base"
    - js 'application', 'mootools-more', 'rails', 'mootools-core'
    - @js.uniq.reverse!.each do |f|
      = javascript_include_tag f
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico" }
    = yield :head if content_for?(:head)
  %body
    #container{class: content_for?(:site_layout) ? yield(:site_layout) : "site"}
      = use_header(@header)
      = content_for?(:content) ? yield(:content) : yield
    = debug params if Rails.env.development? 
    :javascript
        window.document.addEvent("domready", function() {
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            new Asset.javascript(gaJsHost + "google-analytics.com/ga.js", {
                onload: function() {
                    var pageTracker = _gat._getTracker("UA-8893573-3");
                    pageTracker._initData();
                    pageTracker._trackPageview();
                }
            });
        });
