!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', 'content' => 'text/html; UTF-8'}
    = content_for?(:meta) ? content_for(:meta) : ""
    %title<
      = content_for?(:title) ? content_for(:title) : "宽岛"
    = stylesheet_link_tag "mobile"
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico" }
    = yield :head if content_for?(:head)
  %body
    #container{class: content_for?(:site_layout) ? yield(:site_layout) : "site"}
      = use_header()
      = content_for?(:content) ? yield(:content) : yield
