- @header = @footer = "common"
- @site_layout ||= "site"
- @sub_title
- @nav_user_title
- @now_path # a string, for highlight icon in nav_user
- @page_name # for breadcrumbs
- @exclude_primary # some options can't be shown in primary blog
- css "post_display", "dashboard", "main"
- content_for :content, do
  .dashboard
    = render partial: 'layouts/nav_user'
    = render partial: "layouts/breadcrumbs"
    -if @blog
      = render partial: "layouts/menu"
    .main
      = yield
  = render :partial => 'shared/footer'

- content_for :site_layout, @site_layout 
- @sub_title += '_宽岛'

= render :file => 'layouts/application'
